.App {
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dee3e5;
}
#canvas{
    border: 1px solid;
}
.userForm{
    width: 300px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 130px;
    left: 60px;
}
.select{
    position: fixed;
    top: 50px;
    left: 60px;
}
.view{
    width: 600px;
    display: flex;
    position: fixed;
    top: 20px;
    left: 420px;
    justify-content: space-evenly;
}
